<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web About Page!!!</title>
</head>
<body>
    <h1>Flask Web About Page!!!{{sayhello()}} - {{globaltitle|smiling}}</h1>
    {% set navigations = [{'name':'Home','url':'index'},{'name':'Filters','url':'filters'},{'name':'Tests','url':'tests'},{'name':'About','url':'about'}] %}
    {% for navigation in navigations %}
        {% if loop.index == loop.length %}
            <a href = "{{url_for(navigation.url)}}">{{navigation.name}}</a>
        {% else %}
            <a href = "{{url_for(navigation.url)}}">{{navigation.name}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
    <hr>
    {# 自定义上下文值 #}
    <h2>Parameter name : {{p_name}}</h2>
    <h2>Parameter age : {{p_age}}</h2>
</body>
</html>