<!DOCTYPE html>
<html lang="en">
{# 显式地使用with context声明传人当前模板的上下文 #}
{% from 'macros/_macros.html' import static_file,form_field with context %}
<head>
    {% block head%}
        <meta charset="UTF-8">
        <title>{%block title%}Python Web框架Flask{%endblock%}</title>
        <!--link rel = "icon" type = "image/x-icon" href="{{url_for('static', filename='images/icon/way.ico')}}"-->
        <!--link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/bootstrap.min.css')}}"-->
        <!--link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/jquery-confirm.min.css')}}"-->
        <!--script src = "{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script-->
        <!--script src = "{{url_for('static', filename='js/popper.min.js')}}"></script-->
        <!--script src = "{{url_for('static', filename='js/bootstrap.min.js')}}"></script-->
        <!--script src = "{{url_for('static', filename='js/bootstrap-paginator.js')}}"></script-->
        <!--script src = "{{url_for('static', filename='js/jquery-confirm.min.js')}}"></script-->
        {# -------------------- 宏引入静态文件 -------------------- #}
        {{static_file('icon','images/icon/way.ico')}}
        {{static_file('css','css/bootstrap.min.css')}}
        {{static_file('css','css/jquery-confirm.min.css')}}
        {{static_file('css','css/all.min.css')}}
        {# --------- 引入子页面自己的css文件 --------- #}
        {% block link %}{% endblock %}
        {{static_file('js','js/jquery-3.3.1.min.js')}}
        {{static_file('js','js/popper.min.js')}}
        {{static_file('js','js/bootstrap.min.js')}}
        {{static_file('js','js/bootstrap-paginator.js')}}
        {{static_file('js','js/jquery-confirm.min.js')}}
        {# --------- 编写子页面自己的css样式 --------- #}
        {% block styles %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#"><i class="fas fa-pepper-hot"></i>&nbsp;&nbsp;Flask Study</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% set navigations = [{'name':'Home','url':'index'},{'name':'Filters','url':'filters'},{'name':'Tests','url':'tests'},{'name':'Upload','url':'fileupload'},{'name':'About','url':'about'}] %}
                {% for navigation in navigations %}
                    <li class="nav-item">
                        {% if loop.index == g.index %}
                            <a class = "nav-link active" href = "{{url_for(navigation.url,index=loop.index)}}">{{navigation.name}}</a>
                        {% else %}
                            <a class = "nav-link" href = "{{url_for(navigation.url,index=loop.index)}}">{{navigation.name}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
          </div>
          <span class = "navbar-text text-right">
              {% if session['loginuser'] %}
                <i class="fas fa-user"></i>&nbsp;{{session['loginuser']}}&nbsp;&nbsp;
                <a href="{{url_for('logout')}}"><i class = "fas fa-sign-out-alt"></i></a>
              {% else %}
                <a href="{{url_for('tologin')}}"><i class = "fas fa-sign-in-alt"></i></a>
              {% endif %}
          </span>
        </nav>
        {% endblock %}
    </header>
    <main style = "margin-top:60px;">
        {# --------- 子页面实际内容 --------- #}
        {% block content %}{% endblock %}
    </div>
    </main>
    <footer>
        {# --------- 子页面foot内容 --------- #}
        {% block footer %}{% endblock %}
    </footer>
    {# --------- 引入子页面自己的JavaScript文件 --------- #}
    {% block scripts %}{% endblock %}
    <script>
        $(function(){
            //alert('base is ready')
        })
        {# --------- 引入子页面JavaScritp变量 --------- #}
        {% block variable %}{% endblock %}
        {% block ready %}{% endblock %}
        {# --------- 引入子页面自己的JavaScript函数 --------- #}
        {% block function %}
        function allAlert(){
           $.alert({
               type:'red',
               //icon:'fa fa-info',
               title:'提示',
               content: 'I Am Ready To Go！',
               onClose:function(){

               }
           })
        }
        function allClick(){
            alert('All Click!!!')
        }
        {% endblock %}
    </script>
</body>
</html>